<h1>Your Pragmatic Catalog</h1>

<% for product in @products -%>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%=product.title %></h3>
    <%=product.description.gsub(/<.*?>/,'') %>
    <div class="price-line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <% form_for product, :url => {:action => 'add_to_cart', :id => product}, :remote => true do %>
        <%= submit_tag "Add to Cart" %>
      <% end %>
    </div>
  </div>
<% end %>
