<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head> 
  <title>Pragprog Books Online Store</title> 
  <%= stylesheet_link_tag "sandbox", :media => "all" %><!-- <label id="code.slt"/> --> 
</head> 
<body id="store"> 
  <div id="banner"> 
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %><!-- <label id="code.depot.e.title"/> --> 
  </div> 
  <div id="columns"> 
    <div id="side"> 
      <a href="/store">Home</a><br /> 
      <a href="http://www..../faq">Questions</a><br /> 
      <a href="http://www..../news">News</a><br /> 
      <a href="http://www..../contact">Contact</a><br />
      <% if current_user %>
        <small>Logged in as <%= current_user.email %></small><br />
        <a href="log_out">Log out</a><br />
      <% else %>
         <a href="/log_in">Log in</a><br />
         <a href="/sign_up">Sign Up!</a><br />
       <% end %>
     </div>

    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"> <%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %> 
    </div> 
  </div> 
</body> 
</html> 
